/* .container .content {

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  position: absolute;

  transform: translate(50%, 50%);

} */

h2 {
  font-size: 3rem;

  padding-bottom: 30px;

  -webkit-text-stroke: 2px rgb(69, 191, 212);
}

#btn-one {
  width: 150px;

  height: 35px;

  background-color: rgb(119, 202, 172);

  margin-top: 50px;
}

#btn-one:hover {
  cursor: pointer;

  outline: none;
}

#ptwo {
  color: rgb(239, 248, 248);

  font-size: 1.25rem;

  width: 70%;
}

.box-one {
  margin-left: 6rem;

  margin-top: -2rem;

  position: absolute;

  z-index: 2;

  border: 5px solid #fff;

  border-radius: 3px;

  background-color: #fff;

  box-shadow: 4px 4px 4px black;

  width: 25vw;

  height: 40vh;
}

.box-one-content {
  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  padding: 10px;
}

h3 {
  padding-top: 3px;

  color: rgba(83, 207, 162, 0.926);
}

#p-last {
  padding: 25px;
}

span {
  list-style-type: none;

  padding-bottom: 20px;

  display: inline-block;
}

.box-two {
  margin-left: 60rem;

  width: 24vw;

  height: 42vh;

  position: absolute;

  z-index: 3;

  box-shadow: 2px 2px 3px black;

  background-color: #fff;

  border-radius: 5px;

  margin-top: -1.5rem;
}

.form {
  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;
}

form {
  padding-top: 20px;

  padding-left: 8px;
}

#input {
  margin: -4px;
}

#input::placeholder {
  width: fit-content;

  color: rgb(191, 199, 199, 0.9999);
}

#btn-two {
  width: 10rem;

  height: 2rem;

  border-radius: 15px;

  margin-top: 4px;

  padding: auto;

  font-weight: bolder;

  background-color: rgba(60, 208, 154, 0.926);
}

#btn-two:hover {
  cursor: pointer;

  width: 12rem;

  outline: none;
}

@media (max-width: 900px) {
  .container {
    position: relative;

    background-image: url("C:/Users/HR/Desktop/New folder/html/medsite/national-cancer-institute-701-FJcjLAQ-unsplash.jpg");

    background-repeat: no-repeat;

    background-attachment: fixed;

    background-size: cover;

    position: relative;

    z-index: 1;

    height: 60vh;

    width: 100vw;
  }

  h2 {
    font-size: 2.3rem;

    display: flex;

    justify-content: center;

    align-items: center;

    position: absolute;

    z-index: 2;

    -webkit-text-stroke: 1px rgb(69, 191, 212);
  }

  nav {
    display: inline-block;

    width: 100%;

    display: flex;

    justify-content: space-between;

    padding-right: 3rem;

    background-color: rgba(233, 230, 230, 0.5);

    backdrop-filter: blur(9px);

    align-items: center;

    line-height: 2rem;
  }

  ul {
    display: none;
  }

  .top {
    display: flex;

    position: sticky;

    justify-content: space-around;
  }

  .container .content {
    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    position: absolute;

    transform: translate(1%, 40%);
  }
}
